<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ChatValidateMapper">
	
	<select id="getValidate" resultType="int">
		select validate from tbl_chat_validate where chnum = #{chnum} and id = #{id}
	</select>
	<update id="updateValidate">
		update tbl_chat_validate 
		set validate = #{validate}, updatedate = current_timestamp
		where id = #{id} and chnum = #{chnum}
	</update>
	
	<insert id="insertValidate">
		insert into tbl_chat_validate(chnum, id, validate, approvaldate) values(#{chnum}, #{id}, #{validate}, current_time())
	</insert>
	
	<delete id="deleteValidate">
		delete from tbl_chat_validate where id = #{id} and chnum = #{chnum}
	</delete>
	
	<update id="requestApproval">
		update tbl_chat_validate 
		set validate = #{validate}, updatedate = current_timestamp, approvaldate = current_timestamp
		where id = #{id} and chnum = #{chnum}
	</update>
	
	<select id="getApprovalDate" resultType="java.util.Date">
		select approvaldate from tbl_chat_validate where id=#{id} and chnum = #{chnum};
	</select>
</mapper>