<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ChatMessageMapper">
	<select id="getAllChatMessage" resultType="org.example.domain.ChatMessageVO">
		<![CDATA[
			select * 
			from tbl_chat_message 
			where chnum =#{chnum} and sendDate >= date_format(#{approvalDate},'%Y-%m-%d %H:%i:%s')
		]]>
	</select>	
	
	<insert id="insertChatMessage">
		 insert into tbl_chat_message(chnum, sender, id, message) 
		 values(#{chnum}, #{sender}, #{id}, #{message});
	</insert>
	
	<delete id="deleteChatMessageById">
		delete from tbl_chat_message where id=#{id}
	</delete>
</mapper>
