<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

	<resultMap type="org.example.domain.UserVO" id="userVO">
		<result column="id" property="id"/>
		<result column="pwd" property="pwd"/>
		<result column="nickname" property="nickname"/>
		<result column="enabled" property="enabled"/>
		<result column="regDate" property="regDate"/>
		<result column="updateDate" property="updateDate"/>
		<collection property="authList" resultMap="authVO"></collection>
	</resultMap>
	
	<resultMap type="org.example.domain.AuthVO" id="authVO">
		<result column="id" property="id"/>
		<result column="auth" property="auth"/>
	</resultMap>
	
	<select id="getUser" resultMap="userVO">
		SELECT t1.*, t2.auth
		FROM tbl_user t1
		LEFT JOIN tbl_user_auth t2
		ON t1.id = t2.id
		WHERE t1.id = #{id}
	</select>
	
	<insert id="insertUser">
		insert into tbl_user(id, pwd, nickname) values(#{id}, #{pwd}, #{nickname})
	</insert>
	 
	<select id="getUserById" resultType="org.example.domain.UserVO">
		select * from tbl_user where id = #{id};
	</select>
</mapper>